/* external google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* commont styles */
body {
    font-family: 'Poppins', sans-serif;
}

/* top area styles */
.top-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100%;
    height: 400px;
    border-radius: 30px;
}

.area-title {
    width: 100%;
    padding-left: 80px;
}

.area-image {
    width: 60%;
}

.area-title h1 {
    font-weight: 700;
    font-size: 40px;

}

.area-title a {
    text-decoration: none;
    width: 187px;
    height: 56px;
    background-color: #DD0000;
    font-weight: 400;
    font-size: 20px;
    color: white;
    padding: 16px 25px;
    border-radius: 5px;
}

.live-button {
    padding-top: 20px;
}

.view-all-post {
    display: none;
}

.footer-nav-for-tab {
    display: none;
}


/* responsive design for top area */

/* for mobile device */
@media screen and (max-width:688px) {
    .top-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 800PX;
        align-items: center;
    }

    .area-title {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 70px;
    }

    .title-heading,
    .title-paragraph {
        text-align: center;
    }

    .area-image {
        width: 70%;
        display: flex;
        align-items: center;
    }
}


/* for tablet device */

@media screen and (min-width:689px) and (max-width:992px) {
    .top-area {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
        width: 100%;
        height: 500px;
        border-radius: 30px;
    }
}

/* blog section style */
.blog-section {
    margin-top: 60px;
    display: flex;
}

.nav-options {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    justify-content: center;
    align-items: center;

}

.nav-options a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
    background-color: white;
    width: 252px;
    height: 64px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.blog-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog-posts {
    border: 1px solid rgba(128, 128, 128, 0.205);
    margin-left: 24px;
    border-radius: 13px;
    margin-bottom: 24px;
}

.blog-banner img {
    width: 100%;
}

.transfer-button {
    margin-top: 20px;
    margin-left: 20px;
}

.transfer-button a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.448);
    border-radius: 5px;
    padding: 5px 20px;
}

.blog-info {
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
}

.blog-details {
    display: flex;
    margin-top: 0px;
    margin-left: 20px;
}

.blog-details p {
    padding-right: 30px;
    color: rgba(22, 22, 22, 0.7);
}



/* responsive design for blog area */

/* for mobile device */
@media screen and (max-width:688px) {
    .blog-section {
        display: flex;
        flex-direction: column;
    }

    .nav-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-left: 33PX;
    }

    .nav-options a {
        font-weight: 500;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.24);
        margin-bottom: 16px;
    }

    #all-groups {
        width: 160px;
    }

    .blog-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }

    .blog-posts {
        margin-left: 0px;
    }
}


/* responsive design  for tablet device */
@media screen and (min-width:689px) and (max-width:992px) {
    .blog-section {
        display: flex;
        flex-direction: column;
    }

    .nav-options {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 0px;
        background-color: white;
    }

    .nav-options a {
        border: 1px solid black;
        margin-left: 16px;
        margin-top: 70px;

    }


    .blog-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 90px;
    }

    #hiden-post {
        display: none;
    }

    .view-all-post {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .view-all-post a {
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
        background-color: #DD0000;
        width: 131px;
        height: 47px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 29px;
        border-radius: 5px;
    }
}

/* footer section styles */

.footer-section {
    height: 244px;
    background-color: #161616;
}

.goal h1 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.hr hr {
    width: 700px;
    padding: 0px;
}

.footer-nav {
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    display: flex;
    justify-content: center;
}

.footer-nav small {
    margin-left: 20px;
    margin-top: 20px;
}


/* responsive design for footer area */

/* for mobile device */
@media screen and (max-width:688px) {

    .footer-section {
        height: 444px;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hr hr {
        width: 300px;
        color: rgba(255, 255, 255, 0.1);
        padding: 0px;
    }
}

@media screen and (min-width:689px) and (max-width:992px) {

    .footer-area {
        padding-top: 10px;
    }

    .goal h1 {
        padding-top: 20px;
    }

    .footer-nav {
        display: none;
    }

    .footer-nav-for-tab {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-nav-1 small {
        font-weight: 500;
        font-size: 16px;
        color: #B9B9B9;
        padding-left: 20px;
    }

    .footer-nav-2 small {
        font-weight: 500;
        font-size: 16px;
        color: #B9B9B9;
        padding-left: 25px;
    }
}

/* upcomming match section styles */
.upcoming-match-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.upcoming-match-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.181);
    border-radius: 5px;
    margin-left: 10px;
    width: 312px;
    height: 242px;
    margin-bottom: 10px;
}

.team-flag {
    display: flex;
    align-items: center;
}

.vs-class {
    padding-left: 15px;
    padding-right: 15px;
}

.team-name p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}

/* responsive design for upcomming match */

/* for mobile device */
@media screen and (max-width:688px) {
    .upcoming-match-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .upcoming-match-area {
        width: 100%;
        margin-left: 0px;
    }
}

/* for tab/medium device */
@media screen and (min-width:689px) and (max-width:992px) {
    .upcoming-match-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 100px;
    }

    .upcoming-match-area {
        width: 90%;
        padding: 5px;
    }
}